[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Serv.Monitor
Exec=/usr/bin/invoker --type=e -s /opt/servermonitor/bin/servermonitor
Icon=/usr/share/icons/hicolor/80x80/apps/servermonitor80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
